<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %p [%c] - &lt;%m&gt;%n</pattern>
        </encoder>
    </appender>
    
    <root>
        <level value="INFO" />
        <appender-ref ref="CONSOLE" />
    </root>

	<logger name="org.springframework.aop.framework.Cglib2AopProxy" level="ERROR" />
</configuration>